/************************************************************

					     PROMENLJIVE

************************************************************/
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.container {
  width: 980px;
  padding-left: 0;
  padding-right: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.scroller {
  overflow-x: hidden; }

::selection {
  background: #960202 !important;
  color: #fff !important; }

::-moz-selection {
  background: #960202 !important;
  color: #fff !important; }

.full1 {
  width: 100%;
  height: 70px;
  background-color: #f5f3f4; }
  .full1 .container {
    background-color: #f5f3f4; }
  .full1 .restorani-beograd {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto); }
  .full1 .logo-wrapper {
    grid-column: 1/7;
    display: flex;
    align-items: center;
    height: 70px; }
    .full1 .logo-wrapper img {
      margin-left: 10px; }
  .full1 .odabir-grada {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 20px; }
  .full1 .form-control {
    width: 130px;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    border-left: 2px solid #999999;
    outline-color: transparent;
    font-weight: 400;
    background-color: #f5f3f4;
    color: #000; }
    .full1 .form-control:focus {
      outline-color: transparent;
      box-shadow: none; }
  .full1 .prijava {
    grid-column: 7/13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0; }
    .full1 .prijava a {
      text-decoration: none;
      font-weight: 500;
      color: #960202;
      transition: all .5s ease;
      margin-right: 20px; }
      .full1 .prijava a:hover {
        color: #000; }
  .full1 .odabir-drzave {
    display: flex;
    align-items: center;
    margin-bottom: 0; }
    .full1 .odabir-drzave .form-control {
      width: 85px;
      border: none; }

.naslov-forme {
  margin-bottom: 30px;
  display: table;
  height: 460px;
  background: url("../img/cover/restorani-cover.jpg"); }
  .naslov-forme .forme1-wrapper {
    display: table-cell;
    vertical-align: middle; }
  .naslov-forme .cover-header h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px; }
  .naslov-forme .forme1 {
    text-align: center; }
    .naslov-forme .forme1 .form-group .form-control {
      display: inline-block;
      text-transform: capitalize;
      margin-left: -6px;
      box-shadow: none;
      outline-color: transparent; }
      .naslov-forme .forme1 .form-group .form-control:hover {
        box-shadow: none;
        outline-color: transparent; }
    .naslov-forme .forme1 .form-group .form-control:first-child {
      width: 380px; }
    .naslov-forme .forme1 .form-group .form-control:nth-child(2) {
      width: 135px;
      border-left: 2px solid #999999; }
    .naslov-forme .forme1 .form-group .form-control:nth-child(3) {
      width: 120px;
      border-left: 2px solid #999999; }
    .naslov-forme .forme1 .form-group .form-control:nth-child(4) {
      width: 130px;
      border-left: 2px solid #999999; }
    .naslov-forme .forme1 .form-group .btn-default {
      margin-left: 5px;
      padding-top: 7px;
      margin-bottom: 3px;
      width: 160px;
      background-color: #960202;
      color: #fff;
      transition: all .5s ease; }
      .naslov-forme .forme1 .form-group .btn-default:hover {
        background-color: #f5f3f4;
        color: #000; }

[class*='button-pick'] {
  padding: 0; }

.button-pick {
  padding-left: 20px;
  margin-bottom: 30px; }
  .button-pick .btn-default {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    color: #a64343;
    border: 1px solid #c9c9c9;
    transition: all .5s ease; }
    .button-pick .btn-default:hover {
      background-color: #a64343;
      color: #fff; }
  .button-pick .btn-outline-primary {
    background-color: #fff;
    color: #333333;
    border: 1px solid #c9c9c9;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    transition: all .5s ease; }
    .button-pick .btn-outline-primary:hover {
      background-color: #c9c9c9;
      color: #fff; }

[class*="lista-header"] {
  padding: 0; }

.full2 {
  width: 100%;
  background-color: #f5f3f4; }
  .full2 .container {
    background-color: #f5f3f4; }
  .full2 .lista-restorana {
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 30px; }
    .full2 .lista-restorana .restoran-wrapper {
      text-align: center;
      grid-column: span 4;
      background-color: #fff;
      padding: 10px; }
    .full2 .lista-restorana .img-wrapper {
      position: relative;
      width: fit-content;
      margin: 0 auto; }
      .full2 .lista-restorana .img-wrapper .restoran-hover {
        display: none;
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); }
        .full2 .lista-restorana .img-wrapper .restoran-hover .opis-restorana {
          padding: 20px 20px 0 20px; }
          .full2 .lista-restorana .img-wrapper .restoran-hover .opis-restorana p {
            font-weight: 400;
            font-size: 14px;
            text-align: justify; }
        .full2 .lista-restorana .img-wrapper .restoran-hover .rezervisi-restoran {
          position: absolute;
          width: 100%;
          height: 45px;
          background-color: #960202;
          display: flex;
          align-items: center; }
          .full2 .lista-restorana .img-wrapper .restoran-hover .rezervisi-restoran a {
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
            margin-left: 20px; }
          .full2 .lista-restorana .img-wrapper .restoran-hover .rezervisi-restoran .fa-heart {
            position: absolute;
            right: 15px;
            bottom: 14px; }
    .full2 .lista-restorana .restoran-heading {
      text-align: left;
      margin-top: 15px;
      padding-left: 10px; }
      .full2 .lista-restorana .restoran-heading h5 {
        color: #333333;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        transition: all .5s ease; }
        .full2 .lista-restorana .restoran-heading h5:hover {
          color: #960202; }
      .full2 .lista-restorana .restoran-heading h6 {
        color: #999999;
        font-weight: 400;
        margin-bottom: 5px; }
  .full2 .pogledajte-jos {
    display: flex;
    justify-content: center;
    width: 100%; }
    .full2 .pogledajte-jos .btn-warning {
      background-color: #960202;
      height: 60px;
      width: 160px;
      border: none;
      font-weight: 500;
      font-size: 17px;
      color: #fff;
      transition: all .5s ease;
      border: 1px solid transparent;
      margin-bottom: 20px; }
      .full2 .pogledajte-jos .btn-warning:hover {
        background-color: #fff;
        color: #960202;
        border: 1px solid #960202; }

[class*="one-slide-wrapper"] {
  padding: 0 10px; }

.slide {
  margin-bottom: 30px; }
  .slide .one-slide-wrapper h5 {
    margin-top: 20px;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    transition: all .5s ease;
    text-transform: capitalize; }
    .slide .one-slide-wrapper h5:hover {
      color: #960202; }
  .slide .one-slide-wrapper h6 {
    color: #999999;
    font-weight: 400;
    margin-bottom: 5px; }
  .slide .one-slide-wrapper a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #960202;
    transition: all .5s ease; }
    .slide .one-slide-wrapper a:hover {
      color: #000; }
  .slide .arrow-right {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    background-color: transparent;
    position: absolute;
    right: -20px;
    top: 132px;
    transform: rotate(45deg); }

.full3 {
  width: 100%;
  background-color: #f5f3f4;
  padding-bottom: 30px; }
  .full3 .container {
    background-color: #f5f3f4; }

.grid-wrapper1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 30px; }
  .grid-wrapper1 .preporuka-wrapper {
    background-color: #fff;
    grid-column: span 4;
    width: fit-content;
    margin: 0 auto; }
  .grid-wrapper1 .img-wrapper3 {
    overflow: hidden; }
    .grid-wrapper1 .img-wrapper3 img {
      transition: all .5s ease;
      opacity: 1; }
      .grid-wrapper1 .img-wrapper3 img:hover {
        opacity: .7; }
  .grid-wrapper1 .preporuka-lista {
    margin-top: 25px; }
    .grid-wrapper1 .preporuka-lista ol {
      margin-bottom: 0;
      color: #999999; }
      .grid-wrapper1 .preporuka-lista ol li {
        margin-bottom: 20px; }
        .grid-wrapper1 .preporuka-lista ol li a {
          color: #333333;
          text-decoration: none;
          font-weight: 400;
          font-size: 16px;
          transition: all .5s ease; }
          .grid-wrapper1 .preporuka-lista ol li a:hover {
            color: #960202; }
  .grid-wrapper1 .preporuka-link {
    margin-top: 20px;
    margin-bottom: 20px; }
    .grid-wrapper1 .preporuka-link a {
      margin-left: 25px;
      color: #960202;
      font-size: 16px;
      font-weight: 400;
      transition: all .5s ease;
      text-decoration: none; }
      .grid-wrapper1 .preporuka-link a:hover {
        color: #333333; }

.novosti-wrapper {
  width: 100%;
  height: 509px;
  background: url("../img/cover/crveni-cover.jpg") no-repeat center;
  display: table; }
  .novosti-wrapper .novosti {
    display: table-cell; }
  .novosti-wrapper .novosti-tekst {
    width: 980px;
    margin: 0 auto; }

@media (max-width: 575px) {
  .container {
    max-width: 530px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 940px; } }
.jq-ry-container {
  padding: 0; }

.lista-header {
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap; }
  .lista-header h3 {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    flex-shrink: 0;
    margin-bottom: 25px;
    margin-top: 20px; }
  .lista-header:after {
    height: 1px;
    width: 100%;
    content: '';
    background-color: #960202;
    margin-left: 20px; }

/*# sourceMappingURL=main.css.map */
