.button-pick{
    padding-left: 20px;
    margin-bottom: 30px;
    .btn-default{
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
        background-color: $bela;
        color: #a64343;
        border: 1px solid $siva2;
    }
}