[class*='button-pick'] {
    padding: 0;
}

.button-pick {
    padding-left: 20px;
    margin-bottom: 30px;
    .btn-default {
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
        background-color: $bela;
        color: $svetloCrvena;
        border: 1px solid $siva2;
        transition: all .5s ease;
        &:hover {
            background-color: $svetloCrvena;
            color: $bela;
        }
    }
    .btn-outline-primary {
        background-color: $bela;
        color: $tamnoSiva;
        border: 1px solid $siva2;
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
        transition: all .5s ease;
        &:hover {
            background-color: $siva2;
            color: $bela;
        }
    }
}