body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 980px;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.scroller {
    overflow-x: hidden;
}

::selection {
    background: #960202 !important;
    color: #fff !important;
}

 ::-moz-selection {
    background: #960202 !important;
    color: #fff !important;
}