[class*="one-slide-wrapper"]{
    padding: 0 10px;
}
.slide{
    margin-bottom: 30px;
.row{

}
.one-slide-wrapper{
    // margin: 0 10px;
    h5{
        margin-top: 20px;
        color: $tamnoSiva;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        transition: all .5s ease;
        text-transform: capitalize;
        &:hover{
            color: $tamnoCrvena;
        }
    }
    h6{
        color: $siva;
        font-weight: 400;
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: $tamnoCrvena;
        transition: all .5s ease;
        &:hover{
            color: $crna;
        }
    }
}
.arrow-right{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-top: 2px solid $crna;
    border-right: 2px solid $crna;
    background-color: transparent;
    position: absolute;
    right: -20px;
    top: 132px;
    transform: rotate(45deg);
}
}