/************************************************************

					     PROMENLJIVE

************************************************************/
$svetloSiva: #f5f3f4;
$siva: #999999;
$tamnoCrvena: #960202;
$crna: #000;


@import "general";
@import "responsive";
@import "header";
@import "restorani-cover";